<div class="friends">
	<p class="small">friends:</p>
	<br />
	<p class="small">
		<%= link_to "kreativ kod", "http://www.kreativkod.se" %>
		<br />
		<%= link_to "tillmar", "http://www.tillmar.net" %>
		<br />
		<%= link_to "lufthamn", "http://www.lufthamn.com" %>
		<br />
		<%= link_to "markehed", "http://www.3hou.se" %>
	</p>
</div>
