<div class="post">
	<div class="break"></div>
	<p class="small">
		kristian sällbergs
		<br /><br />
		+ studying towards a BSc in Computer Science @ University of Gothenburg
		<br />
		+ leave of absence, interactive developer @ CP+B
		<br /><br />
		<%= link_to "linkedin profile", "http://se.linkedin.com/pub/kristian-s%C3%A4llberg/18/7ba/22a" %>
		<br />
	</p>
	<div id="magicCrawlerDefense">
		<p class="small">
			<a href="javascript:spamCrawlerTrick()">press here to reveal my email address (hiding it from spam crawlers)</a>
		</p>
	</div>

	<div class="break"></div>

	<script type="text/javascript">		

		var chineseSecrets = "VUVoQloxa3llR2hqTTAwNVNXNU9kRmxYZUhOSmFqVnlZMjFzZW1SSGJHaGlhMEozWkZoS2JHTXpValZpUjFWMVl6SlZPRXd6UVNzPQ==";

		function spamCrawlerTrick() {
			
			document.getElementById("magicCrawlerDefense").innerHTML =
			Base64.decode(
			   Base64.decode(
			      Base64.decode( chineseSecrets
			      ) 
			   )
			);
		}
		
	</script>
</div>
