<div class="post">
	<div class="break"></div>
        <div class="header">
                <p class="large" style="text-decoration:none">
                        Edit post:
                </p>
		<div class="border"></div>
		<p class="medium">

			&#60;class="medium"&#62;
			&#60;code lang="sql"&#62;
		</p>
        </div>
	<%= render 'form' %>
</div>
