<div class="post">
	<div class="break"></div>
	<div class="header">
		<p class="large" style="text-decoration:none"> 
			New post:
		</p> 
		<div class="border"></div>
                <p class="medium">
                        &#60;class="medium"&#62;
                        &#60;code lang="sql"&#62;
                </p>
	</div>
	<div class="break"></div>
	<p class="small">>Body text:</p>
	<%= render 'form' %>
</div>
